<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Witaj na stronie, gdzie możesz odnaleźć ponad 2 tys. przepisów (także wegańskie!) Powodzenia!
</h1>
<form action="display_recipes">
    <label for="ingredient">
        Wpisz tutaj składniki rozdzielając je spacją!
    </label>
    <input type="text" id="ingredient" name="list_ingredients" required placeholder="pomidor brukselka ..." oninvalid="this.setCustomValidity('Podaj min. 1 składnik!')" oninput="this.setCustomValidity('')">
    <input type="submit" value="Submit">
</form>
</body>
</html>

